@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  height: 34.5%;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 1rem;
  padding-right: 1rem;
}

span {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

ul {
  justify-items: center;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 3rem;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
}

.learn-more {
  border: solid .2rem #fff;
  padding: 1rem;
}

.icon {
  height: 8rem;
  width: 8rem;
}

p {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.125rem;
}

.icon svg {
  height: 8rem;
  width: 8rem;
  padding-bottom: 1.5rem;
  fill: #fff;
}

@media only screen and (min-width: 38em) {

  html {
    height: 16.65%;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0;
    padding: 0;
    column-gap: 1rem;
  }

  li {
    list-style-type: none;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  a:hover,
  a:focus {
    color: #ff5e3a;
  }

  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  h2 {
    margin-bottom: 5rem;
  }

  p {
    margin-bottom: 4rem;
  }

  body {
    padding: 1rem;
  }

  .icon svg {
    padding-bottom: 1rem;
  }

}
